# AFL Stats Analysis

Setup the environment -> imports and datafram creation

In [36]:
import sqlite3
import pandas as pd

sqliteConnection = sqlite3.connect('SQLite_Python.db')
df = pd.read_sql_query("SELECT * FROM matches", sqliteConnection)

Describe the current state of the database

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2249 non-null   int64
 1   competition  2249 non-null   object
 2   season       2249 non-null   object
 3   round        2249 non-null   object
 4   date         2249 non-null   object
 5   kick_off     2249 non-null   object
 6   stadium      2249 non-null   object
 7   winner       2249 non-null   object
 8   home_team    2249 non-null   object
 9   home_score   2249 non-null   int64
 10  home_goals   2249 non-null   int64
 11  home_points  2249 non-null   int64
 12  away_team    2249 non-null   object
 13  away_score   2249 non-null   int64
 14  away_goals   2249 non-null   int64
 15  away_points  2249 non-null   int64
dtypes: int64(7), object(9)
memory usage: 281.2+ KB

Unique Seasons (years of play)

In [38]:
df.season.unique()

array(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'], dtype=object)

Unique Competitions

In [39]:
df.competition.unique()

array(['Toyota AFL Premiership', 'AFL NAB Challenge', 'AFL NAB Cup',
       'Marsh Community Series', 'AFL JLT Series', 'NAB AFLW Competition',
       'eague Boys 2019', 'eague Girls 2019', 'AFL State of Origin',
       'eague Girls 2020'], dtype=object)

Let's mess around with the 2012 season. 

Is there any missing data?

In [40]:
season_2012 = df.loc[df.season == '2012']
season_2012

,id,competition,season,round,date,kick_off,stadium,winner,home_team,home_score,home_goals,home_points,away_team,away_score,away_goals,away_points
0,1,Toyota AFL Premiership,2012,1,2012-03-31,02:45,MCG,Brisbane Lions,Melbourne,78,11,12,Brisbane Lions,119,17,17
1,72,Toyota AFL Premiership,2012,5,2012-04-28,09:45,Gabba,Geelong Cats,Brisbane Lions,41,4,17,Geelong Cats,79,12,7
2,143,Toyota AFL Premiership,2012,15,2012-07-06,09:50,MCG,Carlton,Collingwood,62,8,14,Carlton,85,12,13
3,214,Toyota AFL Premiership,2012,22,2012-08-26,03:10,GMHBA Stadium,Geelong Cats,Geelong Cats,107,16,11,Western Bulldogs,73,11,7
9,2,Toyota AFL Premiership,2012,1,2012-04-01,03:10,Marvel Stadium,West Coast Eagles,Western Bulldogs,87,12,15,West Coast Eagles,136,21,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2165,227,Toyota AFL Premiership,2012,Semi Finals,2012-09-14,10:45,AAMI Stadium,Adelaide Crows,Adelaide Crows,81,12,9,Fremantle,71,11,5
2166,229,Toyota AFL Premiership,2012,Preliminary Finals,2012-09-22,07:15,MCG,Hawthorn,Hawthorn,97,13,19,Adelaide Crows,92,14,8
2167,225,Toyota AFL Premiership,2012,Finals Week 1,2012-09-08,09:45,MCG,Fremantle,Geelong Cats,80,11,14,Fremantle,96,14,12
2168,230,Toyota AFL Premiership,2012,Preliminary Finals,2012-09-21,09:50,ANZ Stadium,Sydney Swans,Sydney Swans,96,13,18,Collingwood,70,10,10
2169,231,Toyota AFL Premiership,2012,Finals Week 1,2012-09-08,05:15,AAMI Stadium,Sydney Swans,Adelaide Crows,42,5,12,Sydney Swans,71,11,5

How many records are in each round??

In [41]:
season_2012.groupby(['round'])['id'].count()

round
1                     11
10                     9
11                     6
12                     6
13                     6
14                     9
15                    10
16                     9
17                     9
18                     9
19                     9
2                      9
20                     9
21                     9
22                     9
23                     9
3                      9
4                      9
5                      9
6                      9
7                      9
8                      9
9                      9
Finals Week 1          4
Grand Final            1
Preliminary Finals     2
Semi Finals            2
Name: id, dtype: int64

Why are there 10 rounds in round 1?

In [42]:
season_2012[season_2012['round'] == '1']

,id,competition,season,round,date,kick_off,stadium,winner,home_team,home_score,home_goals,home_points,away_team,away_score,away_goals,away_points
0,1,Toyota AFL Premiership,2012,1,2012-03-31,02:45,MCG,Brisbane Lions,Melbourne,78,11,12,Brisbane Lions,119,17,17
9,2,Toyota AFL Premiership,2012,1,2012-04-01,03:10,Marvel Stadium,West Coast Eagles,Western Bulldogs,87,12,15,West Coast Eagles,136,21,10
20,3,Toyota AFL Premiership,2012,1,2012-03-30,08:50,MCG,Hawthorn,Hawthorn,137,20,17,Collingwood,115,16,19
30,4,Toyota AFL Premiership,2012,1,2012-03-31,05:45,Metricon Stadium,Adelaide Crows,Gold Coast Suns,68,10,8,Adelaide Crows,137,19,23
41,6,Toyota AFL Premiership,2012,1,2012-03-31,08:45,Marvel Stadium,Essendon,North Melbourne,102,15,12,Essendon,104,14,20
143,233,Toyota AFL Premiership,2012,1,2012-03-24,08:20,ANZ Stadium,Sydney Swans,GWS Giants,37,5,7,Sydney Swans,100,14,16
151,234,Toyota AFL Premiership,2012,1,2012-03-29,08:45,MCG,Carlton,Richmond,81,12,9,Carlton,125,18,17
167,236,Toyota AFL Premiership,2012,1,2012-03-31,08:45,Domain Stadium,Fremantle,Fremantle,105,16,9,Geelong Cats,101,15,11
182,238,Marsh Community Series,2012,1,2012-02-17,07:45,Marvel Stadium,North Melbourne,Richmond,41,6,5,North Melbourne,44,7,2
246,39,Toyota AFL Premiership,2012,1,2012-04-01,06:40,AAMI Stadium,Port Adelaide,Port Adelaide,89,13,11,St Kilda,85,13,7
2159,1,Toyota AFL Premiership,2012,1,2012-03-31,02:45,MCG,Brisbane Lions,Melbourne,78,11,12,Brisbane Lions,119,17,17

Looks like the Marsh Community Series is sneaking in :)

Let's filter on the competition as well

In [12]:
season_2012[season_2012['competition'] == 'Toyota AFL Premiership'].groupby(['round'])['id'].count()

round
1     9
10    9
11    6
12    6
13    6
14    9
15    9
16    8
17    9
18    9
19    9
2     9
20    9
21    9
22    9
23    9
3     9
4     9
5     9
6     9
7     9
8     9
9     9
Name: id, dtype: int64

Now why are rounds 11, 12, 13, & 16 less than 9? My guess was that 11, 12 & 13 were the bye rounds but what about 16?

11, 12 & 13 are bye rounds but according to the AFL website there was 9 matches in round 16. Which match are we missing?

In [13]:
season_2012[season_2012['round'] == '16']

,id,competition,season,round,date,kick_off,stadium,winner,home_team,home_score,home_goals,home_points,away_team,away_score,away_goals,away_points
74,151,Toyota AFL Premiership,2012,16,2012-07-14,04:10,AAMI Stadium,Essendon,Port Adelaide,77,11,11,Essendon,127,19,13
85,152,Toyota AFL Premiership,2012,16,2012-07-14,03:45,Marvel Stadium,Fremantle,Melbourne,83,12,11,Fremantle,117,18,9
92,153,Toyota AFL Premiership,2012,16,2012-07-14,09:40,Gabba,St Kilda,Brisbane Lions,92,14,8,St Kilda,105,16,9
101,154,Toyota AFL Premiership,2012,16,2012-07-15,03:10,GIANTS Stadium,Adelaide Crows,GWS Giants,59,8,11,Adelaide Crows,178,27,16
109,155,Toyota AFL Premiership,2012,16,2012-07-14,09:40,MCG,Collingwood,Geelong Cats,79,10,19,Collingwood,110,17,8
118,156,Toyota AFL Premiership,2012,16,2012-07-15,05:15,Marvel Stadium,Hawthorn,Western Bulldogs,44,6,8,Hawthorn,116,17,14
142,159,Toyota AFL Premiership,2012,16,2012-07-15,06:40,Domain Stadium,Sydney Swans,West Coast Eagles,69,10,9,Sydney Swans,121,18,13
252,171,Toyota AFL Premiership,2012,16,2012-07-13,09:50,Marvel Stadium,North Melbourne,North Melbourne,149,24,5,Carlton,96,14,12

Looks like the Tigers v Gold Coast match is missing (match id: 157)

Let's see if it's in the DB

In [14]:
df[df['id'] == 157]

Empty DataFrame
Columns: [id, competition, season, round, date, kick_off, stadium, winner, home_team, home_score, home_goals, home_points, away_team, away_score, away_goals, away_points]
Index: []

Nope?! Looks like it didn't get added into the DB. We will need to add this manually

TODO add match id 157

Let's check the other seasons

In [15]:
matchesPerRound = df[df['competition'] == 'Toyota AFL Premiership'].pivot_table(index='season', columns='round', values='date', aggfunc=len)
matchesPerRound

round,1,10,11,12,13,14,15,16,17,18,...,21,22,23,3,4,5,6,7,8,9
season,,,,,,,,,,,,,,,,,,,,,
2012,9.0,9.0,6.0,6.0,6.0,9.0,9.0,8.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2013,9.0,9.0,6.0,6.0,6.0,9.0,9.0,8.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2014,9.0,6.0,9.0,9.0,9.0,9.0,9.0,9.0,8.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,6.0,6.0
2015,9.0,9.0,6.0,6.0,6.0,8.0,8.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2016,9.0,9.0,9.0,9.0,6.0,6.0,6.0,9.0,8.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2017,9.0,9.0,6.0,7.0,6.0,9.0,9.0,9.0,9.0,8.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,8.0
2018,8.0,8.0,9.0,7.0,6.0,6.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2019,9.0,9.0,9.0,6.0,6.0,6.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2020,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.0,9.0,9.0,9.0,1.0,NaN,NaN

Looks like there are a few rogue rounds that are missing a match. 

Let's try and isolate these

In [16]:
missingMatches = [(index, key, matchesPerRound.loc[index,key]) for key in matchesPerRound for index in matchesPerRound.index if matchesPerRound.loc[index,key] < 9 ]

missingMatches_df = pd.DataFrame.from_records(missingMatches)
missingMatches_df.sort_values(0)

       0   1    2
3   2012  11  6.0
26  2012  16  8.0
7   2012  12  6.0
13  2012  13  6.0
4   2013  11  6.0
8   2013  12  6.0
14  2013  13  6.0
27  2013  16  8.0
28  2014  17  8.0
1   2014  10  6.0
33  2014   8  6.0
34  2014   9  6.0
20  2015  14  8.0
15  2015  13  6.0
24  2015  15  8.0
9   2015  12  6.0
5   2015  11  6.0
29  2016  17  8.0
16  2016  13  6.0
25  2016  15  6.0
21  2016  14  6.0
30  2017  18  8.0
17  2017  13  6.0
35  2017   9  8.0
10  2017  12  7.0
6   2017  11  6.0
22  2018  14  6.0
18  2018  13  6.0
11  2018  12  7.0
2   2018  10  8.0
0   2018   1  8.0
19  2019  13  6.0
12  2019  12  6.0
23  2019  14  6.0
31  2020   3  8.0
32  2020   7  1.0

A lot of these rounds are probably bye rounds especially those that had 6 matches between round 11->14

I'm sure there is a more efficient way to locate this but I'm going to take a slightly manual approach.
I will filter the missing match list to be just a year for ease of looking through the list, then
I will filter the full database for the matches in those rounds. I will compare my list versus what is on 
the AFL website to find the missing match.

In [17]:
missingMatches_df[missingMatches_df.sort_values(0)[0] == '2020']

       0  1    2
31  2020  3  8.0
32  2020  7  1.0

In [16]:
df.loc[(df['round'] == '10') & (df.season == '2018')].sort_values(['date', 'kick_off'])

,id,competition,season,round,date,kick_off,stadium,winner,home_team,home_score,home_goals,home_points,away_team,away_score,away_goals,away_points
1483,1583,Toyota AFL Premiership,2018,10,2018-05-25,09:50,Marvel Stadium,Collingwood,Collingwood,90,13,12,Western Bulldogs,55,8,7
1438,1578,Toyota AFL Premiership,2018,10,2018-05-26,03:45,MCG,Richmond,Richmond,105,15,15,St Kilda,77,12,5
1464,1581,Toyota AFL Premiership,2018,10,2018-05-26,06:35,Gabba,Sydney Swans,Brisbane Lions,49,6,13,Sydney Swans,67,10,7
1418,1576,Toyota AFL Premiership,2018,10,2018-05-26,09:25,GIANTS Stadium,Essendon,GWS Giants,60,8,12,Essendon,95,14,11
1427,1577,Toyota AFL Premiership,2018,10,2018-05-26,09:25,GMHBA Stadium,Geelong Cats,Geelong Cats,73,11,7,Carlton,45,5,15
1630,1600,Toyota AFL Premiership,2018,10,2018-05-27,03:10,Marvel Stadium,West Coast Eagles,Hawthorn,60,9,6,West Coast Eagles,75,11,9
1446,1579,Toyota AFL Premiership,2018,10,2018-05-27,05:20,TIO Traeger Park,Melbourne,Melbourne,146,23,8,Adelaide Crows,55,8,7
1503,1585,Toyota AFL Premiership,2018,10,2018-05-27,06:40,Optus Stadium,North Melbourne,Fremantle,58,8,10,North Melbourne,86,12,14

Looking at the historic fixtures, these are the missing matches:
- Match id: 157 - 2012 round 16
- Match id: 409 - 2013 round 16
- Match id: 644 - 2014 round 17
- Match id: 847 - 2015 round 14 (Phil Walsh death - match wasn't played and was declared a draw)
- Match id: 843 - 2015 round 15
- Match id: 1096 - 2016 round 17
- Match id: 1390 - 2017 round 18
- Match id: 1474 - 2018 round 1

Having looked through this all the missing matches bar round 14 2015 were a gold coast match held at the Cazaly's Stadium. 
I'm not sure why they didn't pull down properly but I will add each of them into the DB now.

In [18]:
from scraper import getDataForMatch, insert, openDB, closeDB
connection, cursor = openDB('SQLite_Python.db')

matchesToGet = [157, 409, 644, 843, 1096, 1390, 1474]

for matchID in matchesToGet:
    match = getDataForMatch(matchID)
    insert(cursor, match)

closeDB(connection, cursor)

Attempting to fetch match: 157 with url: https://www.afl.com.au/matches/157
Attempting to fetch match: 409 with url: https://www.afl.com.au/matches/409
Attempting to fetch match: 644 with url: https://www.afl.com.au/matches/644
Attempting to fetch match: 843 with url: https://www.afl.com.au/matches/843
Attempting to fetch match: 1096 with url: https://www.afl.com.au/matches/1096
Attempting to fetch match: 1390 with url: https://www.afl.com.au/matches/1390
Attempting to fetch match: 1474 with url: https://www.afl.com.au/matches/1474

So the issue was the single quotes in the stadium name. I'm sure I ran into issues with this for matches of other competitions but I think i'm going to leave it as I mostly care about the normal AFL season. 

I've updated the function to use double quotes rather than single quotes

In [19]:
from scraper import getDataForMatch, insert, openDB, closeDB
connection, cursor = openDB('SQLite_Python.db')

matchesToGet = [157, 409, 644, 843, 1096, 1390, 1474]

for matchID in matchesToGet:
    match = getDataForMatch(matchID)
    insert(cursor, match)

# connection.commit()

closeDB(connection, cursor)

Attempting to fetch match: 157 with url: https://www.afl.com.au/matches/157
Attempting to fetch match: 409 with url: https://www.afl.com.au/matches/409
Attempting to fetch match: 644 with url: https://www.afl.com.au/matches/644
Attempting to fetch match: 843 with url: https://www.afl.com.au/matches/843
Attempting to fetch match: 1096 with url: https://www.afl.com.au/matches/1096
Attempting to fetch match: 1390 with url: https://www.afl.com.au/matches/1390
Attempting to fetch match: 1474 with url: https://www.afl.com.au/matches/1474

I'm now reasonably happy with the quality of the data at least for the regular AFL Season. Now I need to work out why the finals aren't appearing in the data. 

I know that the 2012 grand final has the match id 232 Let's see if it's in the DB

In [31]:
df[df['id'] == 232]

Empty DataFrame
Columns: [id, competition, season, round, date, kick_off, stadium, winner, home_team, home_score, home_goals, home_points, away_team, away_score, away_goals, away_points]
Index: []

It's not... Let's looks at the returned result and see if there's anything wrong

In [35]:
match = getDataForMatch(232)
print(match)

Attempting to fetch match: 232 with url: https://www.afl.com.au/matches/232
None

Getting the data is returning 'None' ... why?

There's was a little bit wrong with my logic in the regex expression pulling out the round and finals value.

I did a complete readd to the DB and it should now include final's matches. Let's make sure they are all there.

In [43]:
matchesPerRound = df[df['competition'] == 'Toyota AFL Premiership'].pivot_table(index='season', columns='round', values='date', aggfunc=len)
matchesPerRound

round,1,10,11,12,13,14,15,16,17,18,...,4,5,6,7,8,9,Finals Week 1,Grand Final,Preliminary Finals,Semi Finals
season,,,,,,,,,,,,,,,,,,,,,
2012,10.0,9.0,6.0,6.0,6.0,9.0,10.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2013,9.0,9.0,6.0,6.0,6.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2014,9.0,6.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,6.0,6.0,4.0,1.0,2.0,2.0
2015,9.0,9.0,6.0,6.0,6.0,8.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2016,9.0,9.0,9.0,9.0,6.0,6.0,6.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2017,9.0,9.0,6.0,7.0,6.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,8.0,4.0,1.0,2.0,2.0
2018,9.0,8.0,9.0,7.0,6.0,6.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2019,9.0,9.0,9.0,6.0,6.0,6.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,4.0,1.0,2.0,2.0
2020,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN

Yep they all look to be there! Happy days.