# Stadium Analysis V2

Following on from the previous analysis using recent data scraped from the offical AFL website I have been able to scrap more historic data from the website [afltables.com](https://afltables.com/).

To begin lets first have a quick look at the data.

In [6]:
import pandas as pd

db = pd.read_csv('afltables_matches.csv')

db.head(5)

   index  yearly_match_number  year  ... away_q4_score away_final_score is_bye
0      1                    1  1897  ...          16.0             16.0      0
1      2                    2  1897  ...          47.0             47.0      0
2      3                    3  1897  ...          44.0             44.0      0
3      4                    4  1897  ...          36.0             36.0      0
4      5                    5  1897  ...          50.0             50.0      0

[5 rows x 38 columns]

As we can see above the data goes a looong way back. We also have a pretty good view of how each match progressed with the quarter by quarter breakdown of scores. 

For curiosities sake lets see how many times a match has been plated at each ground.

In [26]:
matches_played = db.groupby('venue')['index'].count().sort_values(ascending=False)

matches_played

venue
M.C.G.                 2903
Princes Park           1275
Docklands               942
Victoria Park           875
Waverley Park           732
Junction Oval           729
Lake Oval               697
Kardinia Park           682
Western Oval            665
Windy Hill              629
Brunswick St            606
Subiaco                 545
Punt Rd                 544
Arden St                529
Football Park           458
Glenferrie Oval         443
S.C.G.                  416
Corio Oval              366
Gabba                   361
Moorabbin Oval          254
East Melbourne          219
Carrara                 206
Adelaide Oval           159
Sydney Showground        73
York Park                72
W.A.C.A.                 72
Perth Stadium            65
Stadium Australia        55
Manuka Oval              50
Marrara Oval             22
Bellerive Oval           22
Toorak Park              13
Cazaly's Stadium         12
Coburg Oval               9
Yarraville Oval           7
Traeger Park              7
Eureka Stadium            5
North Hobart              5
Wellington                3
Olympic Park              3
Jiangwan Stadium          3
Riverway Stadium          1
Euroa                     1
Bruce Stadium             1
Brisbane Exhibition       1
Blacktown                 1
Yallourn                  1
Albury                    1
Name: index, dtype: int64

It's great to see so many of the classic stadiums in this list. Maybe they'll be the most exciting stadiums and should be brought back ;) 

As with the first analysis one way to look at how exciting a match was is to look at how close the final score is. Close scoring matches often keep everyone on the edge of their seat all the way till the final siren. 

If the last analysis holds true into all the historic matches, Adelaide's AAMI stadium will be the most exciting stadium with the highest percentage of games that finished with a final margin less than 10. 

Let's find out!

To start the new DB doesn't currently tell us the difference between the two scores at the final siren. It will definately be easier to work this out with this column created.

In [15]:
db['difference'] = abs(db.home_final_score - db.away_final_score)

db.head(2)

   index  yearly_match_number  year  ... away_final_score is_bye difference
0      1                    1  1897  ...             16.0      0       25.0
1      2                    2  1897  ...             47.0      0       23.0

[2 rows x 39 columns]

Great with that out the way let's look at which stadium has the highest percentage of close games.

In [28]:
exciting_matches = round((db.where(db['difference'] < 10).groupby('venue').difference.count() / db.groupby('venue')['index'].count()) * 100, 2).sort_values(ascending=False)

data = {
    "percentage_of_exciting_matches": exciting_matches,
    "matches_played": matches_played
}

pd.concat(data, axis=1)

                     percentage_of_exciting_matches  matches_played
Riverway Stadium                             100.00               1
Coburg Oval                                   33.33               9
Wellington                                    33.33               3
Bellerive Oval                                31.82              22
Yarraville Oval                               28.57               7
East Melbourne                                25.11             219
Lake Oval                                     24.10             697
Arden St                                      24.01             529
Stadium Australia                             23.64              55
Carrara                                       22.33             206
Punt Rd                                       21.51             544
Brunswick St                                  21.29             606
Junction Oval                                 21.12             729
Windy Hill                                    20.99             629
Western Oval                                  20.60             665
Football Park                                 20.31             458
Eureka Stadium                                20.00               5
North Hobart                                  20.00               5
Glenferrie Oval                               19.86             443
Princes Park                                  19.61            1275
York Park                                     19.44              72
Corio Oval                                    19.13             366
Docklands                                     19.11             942
Kardinia Park                                 19.06             682
Moorabbin Oval                                18.90             254
M.C.G.                                        18.84            2903
S.C.G.                                        18.51             416
Perth Stadium                                 18.46              65
W.A.C.A.                                      16.67              72
Cazaly's Stadium                              16.67              12
Victoria Park                                 16.00             875
Subiaco                                       15.60             545
Toorak Park                                   15.38              13
Gabba                                         15.24             361
Sydney Showground                             15.07              73
Waverley Park                                 15.03             732
Traeger Park                                  14.29               7
Manuka Oval                                   14.00              50
Adelaide Oval                                 13.84             159
Marrara Oval                                  13.64              22
Albury                                          NaN               1
Blacktown                                       NaN               1
Brisbane Exhibition                             NaN               1
Bruce Stadium                                   NaN               1
Euroa                                           NaN               1
Jiangwan Stadium                                NaN               3
Olympic Park                                    NaN               3
Yallourn                                        NaN               1